*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    background: rgb(109,174,242);
    background: linear-gradient(153deg, rgba(109,174,242,0.7835951134380454) 0%, rgba(117,117,237,0.8237347294938918) 48%, rgba(202,149,246,0.7818499127399651) 91%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
    color: rgba(16, 16, 16, 0.838);
    display: flex;
    justify-content: center;
}
.contenedor{
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 40px;
}
.encabezado{
    padding: 10px 0 5px;
}
.agregar{
    background-color: #a5b1f9f6;
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 70px;
}
.agregar input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    background-color: #b9c3fcf6;
    padding-left: 10px;
}
.agregar input::placeholder{
    font-size: 1.1rem;
    color: #121f69f6;
}
.agregar i{
    font-size: 40px;
    color: #121f69f6;
}
.agregar i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.tareas h2{
    margin-bottom: 20px;
    color: #6270bef6;
}
.tareas li{
    background-color: #a5b1f9f6;
    border-radius: 15px;
    padding: 10px;
    color: #121f69f6;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tareas p{
    font-weight: 600;
}
.tareas{
    font-size: 25px;
}
.tareas i:hover{
    color:#7486eaf6;
    cursor: pointer;
}
.tachado{
    text-decoration: line-through;
    color: #6270bef6;
}
